<p>
  <% if signed_in? %>
    <%= link_to "Sign Out", sign_out_path, method: :DELETE %>
  <% else %>
    <%= link_to "sign_in", sign_in_path %>
  <% end %>

</p>

<section>
      <h1>Midmark</h1>
  <aside>

  </aside>
  <article>
    <% @marks.each do |mark| %>

      <p class="user">
        <%= mark.user.name %>
      </p>
      <p class="message">
        <%= mark.message %>
      </p>

    <% end %>
  </article>
</section>
